	.overlay-content
	{
	
	    padding: 20px 5px;
    max-height: 195px;
    overflow: auto;
position: absolute;
    bottom: 0;
    background: rgba(13, 28, 53, 0.64);
    
    color: #fff;
    font-weight: 700;
   

	
	
	}
	